# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
coverage/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Xcode related
**/DerivedData/
**/*.xcworkspace/
**/*.xcuserstate
**/*.xcuserdatad
**/*.moved-aside
**/*.xcuserstate

# Android Studio
android/.gradle/
android/local.properties

# Misc
.DS_Store
